<!DOCTYPE html>
<html>
  <head>
    <title>Pictgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <% flash.each do |key,value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to("/topics") do %>
          <span><%= image_tag "icons/logo.png", class: "navbar-brand" %></span>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to favorites_index_path, :data => {:toggle => "tooltip", :placement => "bottom" }, :class => "btn btn-secondary", :title => "お気に入り一覧"  do %>
                <%= image_tag "icons/heart.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to new_topic_path, :data => {:toggle => "tooltip", :placement => "bottom" }, :class => "btn btn-secondary", :title => "投稿" do %>
                <%= image_tag "icons/camera.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to rooms_show_path, :data => {:toggle => "tooltip", :placement => "bottom" }, :class => "btn btn-secondary", :title => "ダイレクトメッセージ"  do %>
                <%= image_tag "icons/DM.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete, :data => {:toggle => "tooltip", :placement => "bottom" }, :class => "btn btn-secondary", :title => "ログアウト"  do %>
                <%= image_tag "icons/logout.png" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_path, :data => {:toggle => "tooltip", :placement => "bottom" }, :class => "btn btn-secondary", :title => "新規登録"  do %>
                <%= image_tag "icons/register.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to login_path, :data => {:toggle => "tooltip", :placement => "bottom" }, :class => "btn btn-secondary", :title => "ログイン"  do %>
                <%= image_tag "icons/login.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>
    <script>
    $(function(){
      $(".alert").fadeOut(5000);
    });
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
  </body>
</html>
